In [1]:
print("3번째 수업")

3번째 수업

## 숫자형

In [1]:
1232

1232

In [3]:
1+2

3

In [4]:
7/4

1.75

In [5]:
7//4

1

In [6]:
7%4

3

In [7]:
3/7

0.42857142857142855

In [8]:
1%2

1

In [9]:
-7//4

-2

In [12]:
1-0.9

0.09999999999999998

In [33]:
3%7

3

## 2절 문자열

In [13]:
boy = "I am a boy."
boy

'I am a boy.'

In [21]:
girl= 'i am a girl'
girl

'i am a girl'

In [25]:
friend = """ i am a boy
i am a girl """

In [26]:
boy + '' + girl

'I am a boy.i am a girl'

In [27]:
girl*3

'i am a girli am a girli am a girl'

In [28]:
# 문자열 인덱싱
a = "Life is too short, You need Python"
a

'Life is too short, You need Python'

In [29]:
a[0]+a[3]+a[15]

'Ler'

In [30]:
#문자열 슬라이싱 
a[0:4]

'Life'

In [31]:
a[:14]

'Life is too sh'

#### 수익계산
- 변수 revenue 생성 후 98456 할당
- 변수 cost 생성 후 45000 할당
- 변수 profit 생성 후 revenue와 cost 차이값으로 설정
- profit 출력

In [32]:
revenue = 98456
cost = 45000
profit = revenue - cost
profit

53456

#### Lab2 
문자열 슬라이싱

In [35]:
a= "20180424sunny"
year= a[0:4]
month= a[4:6]
day= a[6:8]
weather=a[8:13]
print(year, month, day, weather)

2018 04 24 sunny

In [36]:
print(year,"년", month,"월", day,"일", weather,"날씨")

2018 년 04 월 24 일 sunny 날씨

In [38]:
"{year}년 {month}월 {day}일 날씨는 {weather}" .format(year=year, month=month, day=day, weather=weather)

'2018년 04월 24일 날씨는 sunny'

In [39]:
a= '나는 나다'
a

'나는 나다'

In [43]:
a.count("나")

2

In [46]:
#위치알려주기
a= 'hobby'
a.find("b")

2

In [47]:
a="hobby"
a.find('y')

4

In [48]:
#문자열 삽입하기
a=','
a.join('abcd')

'a,b,c,d'

In [49]:
a=','
a.join('나는나다')

'나,는,나,다'

In [52]:
#대문자로
a='abcd'
a.upper()

'ABCD'

In [53]:
a='ABCD'
a.lower()

'abcd'

In [56]:
#공백 지우기 - 왼쪽
a= ' a b c d e '
a.lstrip()

'a b c d e '

In [57]:
a.rstrip()

' a b c d e'

In [58]:
a='Life is too short'
a.split()

['Life', 'is', 'too', 'short']

### Lab 2 이어서
 - 변수 a를 생성해서, 문자열 " I love Python!"을 할당하시오.
 - 변수 b를 생성해서, 문자열 " You hate Python!" 을 할당하시오.

In [59]:
a="I love Python!"
b="You hate Python!"

- a에서 첫번째 o의 위치를 find()함수로 찾아보시오.
- b에서 첫번째 o의 위치를 index()함수로 찾아보시오.
- a의 'o'문자 개수를 세시오.
- 변수 a를 모두 대문자로
- 변수 b를 모두 소문자로
- 변수 a_6에 a의 첫 6글자들로 이루어진 부분문자열을 할당하시오
- 변수 a의 문자열을 공백을 이용해서 나눠보시오

In [61]:
a.find('o')

3

In [62]:
b.index('o')

1

In [64]:
a.count('o')

2

In [65]:
a.upper()

'I LOVE PYTHON!'

In [66]:
b.lower()

'you hate python!'

In [73]:
a_6=a[0:7]
a_6

'I love '

In [74]:
a_6.rstrip()

'I love'

- 변수 pi를 생성하고 3.141592를 할당하시오.
- 변수 sq_root를 생성하고 1.1429를 할당하시오
#### 다음출력을 포매팅을 사용하여 만드시오
- pi is 3.141592 and square root of 2 is 1.41429

In [75]:
pi=3.141592
sq_root = 1.1429

In [76]:
"pi is {a} and square root of 2 is {b}" .format(a=pi, b=sq_root)

'pi is 3.141592 and square root of 2 is 1.1429'